.projectsSwiper {
  position: relative;
}

.projectsSwiper .swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
}

.projectsSwiper .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.4;
  width: 10px;
  height: 10px;
}

.projectsSwiper .swiper-pagination-bullet-active {
  background: linear-gradient(to bottom, #9333ea, #2563eb);
  opacity: 1;
  height: 24px;
  border-radius: 6px;
}